.navbar-custom {
  position: fixed;
  right: 40px;
  z-index: 100;

  .navbar-ul {
    display: flex;
  }

  .navbar-li {
    list-style: none;
    padding: 20px 20px 0px;
  }

  .navbar-a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
  }

  .navbar-a:hover {
    text-decoration: underline;
  }
}
