.posts {
  background: rgb(247, 229, 170);

  .posts-heading {
    text-align: center;
    padding-top: 30px;
    font-size: 60px;
    color: #6b6868;
  }

  .post-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 40px;
  }

  .card-a {
    background-color: #337ab7;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
