.posts {
  background: rgb(247, 229, 170);

  .posts-heading {
    text-align: center;
    padding-top: 30px;
    font-size: 60px;
    color: #6b6868;
  }

  .post-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 40px;
    width: 80%;
    margin: 0 auto;

    @media (max-width: 1000px) {
      .post-container {
        background-color: red($color: #000000);
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }

  .post-card {
    @media (max-width: 600px) {
      margin: 20px auto;
      width: 200px;
      grid-template-columns: 1fr;
    }
  }

  .card-a {
    background-color: #337ab7;
    color: #fff;
    padding: 5px 10px;

    border-radius: 5px;
  }
}
